*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: rgb(214, 214, 214);

}

.home-header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 1.25rem;
}

.image {
    align-items: center;
    height: 15px;
    width: 25px;
    margin: 0 0.5rem;
}

.calls-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#origin, #destiny, #time, #plan{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance:button;
    outline: none;
    text-align: center;
    font-size: 14px;
    margin: 0.5rem 0;
    width: 15rem;
}

.select-origin, .select-destiny, .input-time, .select-plan {
    width: 20rem;
}

.select-origin, .select-destiny, .input-time, .select-plan label{
    margin: 0 0.5rem;
    font-size: 18px;
}

.call-input-button {
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100px;
    font-size: 16px;
    margin: 0 1rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 2rem 5rem;
}

table {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.price-container table, th, td {
    margin: 0 1rem;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    background-color: rgb(232, 232, 232);
}

.calls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 1rem 5rem 2rem;
}

.calls-table, th, td {
    margin: 0 1rem;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    background-color: rgb(232, 232, 232);
}

.show-calls {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(214, 214, 214);
    outline: none;
    text-align: center;
    font-size: 18px;
    margin: 0.5rem 1rem;
}

.line {
    width: 100%;
    box-sizing: border-box;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-icon{
    
    height: 30px;
}