html{
    margin: 0;
    padding: 0;
    background-color: rgb(214, 214, 214);
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(214, 214, 214);
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content{
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 40rem;
    padding-bottom: 2rem;
    box-shadow: 0 0 0.5em rgb(26, 25, 25);
    border-radius: 5px;
}

.main-content h1 {
    margin: 1rem 1.5rem 0;
    font-size: 2.5rem;
}


.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-text, .input-password{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.input-text label {
    width: 100%;
}

.input-password label {
    width: 100%;
}

.input-text label span{
    margin-left: 1.5rem;
}

.input-password label span{
    margin-left: 1.5rem;
}

.input-text input {
    width: 90%;
    margin: 0.75rem 1.5rem 0rem;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 3px;
    padding: 0.5rem;
    box-sizing: border-box;
}

.input-password input {
    width: 90%;
    margin: 0.75rem 1.5rem 0rem;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 3px;
    padding: 0.5rem;
    box-sizing: border-box;
}

.input-text input::placeholder {
    color: rgb(177, 177, 177);
}

.input-password input::placeholder {
    color: rgb(177, 177, 177);
}

.failed-paragraph {
    color: red;
}

.submit-button {
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100px;
}

.submit-button-grey{
    align-items: center;
    background-color: rgb(153, 153, 153);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100px;
}

.create-login{
    border: none;
    margin: 0.5rem 1rem;
}